<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Scribe</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
  </head>
    <body>
<br>
<br>
    <div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Scribe</h1>
    <p class="lead">A graph-based unsupervised machine learning summarization tool.</p>
    <form action="/result" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="upload">Select a docx, pptx or pdf file to upload file:</label>
        <input type="file" class="form-control" id="upload" name="upload">
        <label for="text">Or, paste text to summarize below:</label>
        <textarea class="form-control" id="textToSummarize" name="textToSummarize" rows = '5'></textarea>
          <label for="wordCount">Type the ratio of original text you would like returned.</label>
        <input type="text" class="form-control" id="ratio" name="ratio" placeholder="Type a ratio between 0.0001 and .99999">
      </div>
      <button type="submit" class="btn btn-primary">Summarize</button>
    </form>
  </div>
</div>
</body>
</html>
